In [25]:
year = 2022

if year >= 2000:
    print("We are in the 21st century")

We are in the 21st century

In [26]:
today = "saturaday"
upper_today = today.upper()
print(upper_today)

if upper_today == "SUNDAY" or "SATURADAY":
    print ("I am happy")

SATURADAY
I am happy

In [27]:
def eye_exam(age, time_since_last_exam, condition):
    '''age is an integer, qualifying condition is bool -> True (you qualify), time_since_last -> # month'''
    if age <= 19:
        if time_since_last_exam >=12:
            print("You are eligible for 1 major eye exam and 2 minor assessments")
        else:
            print("It's too early to have the test again")
            
    elif 20<= age <= 64:
        if condition == True:
            if time_since_last_exam >=12:
                print("You are eligible for 1 major eye exam and 2 minor assessments")
        else:
            print("It's too early to have the test again")


child_01 = eye_exam(21, 12, False)

It's too early to have the test again

This piece of code is a little bit weird.

In [28]:
vowels = ['a','e','i','o','u']
vowels

['a', 'e', 'i', 'o', 'u']

In [29]:
empty = list()
empty

[]

In [30]:
List_of_food = [
    ['dimsum', 'Chinese'],
    ['pizza','cola','Local' ],
    'bubble tea'
]
List_of_food

[['dimsum', 'Chinese'], ['pizza', 'cola', 'Local'], 'bubble tea']

In [31]:
List_of_food[1]

['pizza', 'cola', 'Local']

In [32]:
List_of_food[1][2]

'Local'

In [33]:
len(List_of_food)

3

In [34]:
List_of_food[:]

[['dimsum', 'Chinese'], ['pizza', 'cola', 'Local'], 'bubble tea']

In [35]:
List_of_food[2:] = "english"
List_of_food

[['dimsum', 'Chinese'],
 ['pizza', 'cola', 'Local'],
 'e',
 'n',
 'g',
 'l',
 'i',
 's',
 'h']

In [36]:
sorted(List_of_food)

TypeError: '<' not supported between instances of 'str' and 'list'

In [ ]:
perfect_squares = [1,4,9,16,25,36,49]
perfect_squares

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
len(perfect_squares)

7

In [ ]:
max(perfect_squares)

49

In [ ]:
min(perfect_squares)

1

In [ ]:
sum(perfect_squares)

140

In [ ]:
sq_root = [str(i**0.5) for i in perfect_squares]

In [ ]:
sq_root

['1.0', '2.0', '3.0', '4.0', '5.0', '6.0', '7.0']

In [ ]:
# .extend() method is used to add elements from an iterable to the end of a list
# it unpacks the elements of the iterable and adds them one by one to the end of the origainl list
colour = ['red','orange','黃','green','blue','purple']
colour

['red', 'orange', '黃', 'green', 'blue', 'purple']

In [ ]:
colour.append(["orange2",'orange3']) # append just add without changing anything

In [ ]:
colour

['red', 'orange', '黃', 'green', 'blue', 'purple', ['orange2', 'orange3']]

In [ ]:
colour.extend(["blue2','blue3"]) # now blue2 and blue3 are added as separated strings but not a list
colour

['red',
 'orange',
 '黃',
 'green',
 'blue',
 'purple',
 ['orange2', 'orange3'],
 "blue2','blue3"]

In [ ]:
len(colour)

8

In [ ]:
colour.extend("cyan") # now breakdown every single letter from cyan to add to the list
colour

['red',
 'orange',
 '黃',
 'green',
 'blue',
 'purple',
 ['orange2', 'orange3'],
 "blue2','blue3",
 'c',
 'y',
 'a',
 'n']

In [ ]:
new_colour = colour.append("hap")
new_colour

In [ ]:
new_colour_2 = [i for i in colour]
new_colour_2

['red',
 'orange',
 '黃',
 'green',
 'blue',
 'purple',
 ['orange2', 'orange3'],
 "blue2','blue3",
 'c',
 'y',
 'a',
 'n',
 'happy',
 'happy',
 'hap']

In [ ]:
colour

['red',
 'orange',
 '黃',
 'green',
 'blue',
 'purple',
 ['orange2', 'orange3'],
 "blue2','blue3",
 'c',
 'y',
 'a',
 'n',
 'happy',
 'happy',
 'hap']

In [ ]:
del colour [-3:]
colour

['red',
 'orange',
 '黃',
 'green',
 'blue',
 'purple',
 ['orange2', 'orange3'],
 "blue2','blue3",
 'c',
 'y',
 'a',
 'n']

In [ ]:
colour

['red',
 'orange',
 '黃',
 'green',
 'blue',
 'purple',
 ['orange2', 'orange3'],
 "blue2','blue3",
 'c',
 'y',
 'a',
 'n']

In [ ]:
colour.append("fruit")
colour

['red',
 'orange',
 '黃',
 'green',
 'blue',
 'purple',
 ['orange2', 'orange3'],
 "blue2','blue3",
 'c',
 'y',
 'a',
 'n',
 'fruit']

In [ ]:
new_colour_3 = [i for i in colour]
new_colour_3

['red',
 'orange',
 '黃',
 'green',
 'blue',
 'purple',
 ['orange2', 'orange3'],
 "blue2','blue3",
 'c',
 'y',
 'a',
 'n',
 'fruit']

In [ ]:
colour[6]

['orange2', 'orange3']

In [ ]:
colour[5]

'purple'

In [ ]:
colour.insert(5,"oo")
colour
# list_name.clear() --> the list will be cleared

['red',
 'orange',
 '黃',
 'green',
 'blue',
 'oo',
 'purple',
 ['orange2', 'orange3'],
 "blue2','blue3",
 'c',
 'y',
 'a',
 'n',
 'fruit']

In [ ]:
characters = [1,2,3,'a','b','c']

In [ ]:
characters[3:]

['a', 'b', 'c']

In [51]:
breakfast = ['apple','banana','cheerio']
breakfast_copy = list(breakfast)
breakfast[0] = 'pizza'
breakfast
breakfast_copy

['apple', 'banana', 'cheerio']

In [52]:
breakfast

['pizza', 'banana', 'cheerio']

In [53]:
sorted(breakfast)

['banana', 'cheerio', 'pizza']

In [54]:
breakfast

['pizza', 'banana', 'cheerio']

In [56]:
def last_letter(text):
    return text[-1]

sorted(breakfast, key=last_letter)

['pizza', 'banana', 'cheerio']

In [57]:
students_per_class = [["Grade 9", 20],["Grade 11", 13], ["Grade 10",17], ["Grade 12", 22]]
sorted(students_per_class)

[['Grade 10', 17], ['Grade 11', 13], ['Grade 12', 22], ['Grade 9', 20]]

In [59]:
def second_element(item):
    return item[1]

students_per_class.sort(key = second_element)
students_per_class

[['Grade 11', 13], ['Grade 10', 17], ['Grade 9', 20], ['Grade 12', 22]]

In [ ]:
second_element([0,5,7]) #inputting a list and use second_element to get the 2nd element of the list

5

In [62]:
list = ()
type(list)

tuple

In [64]:
list_2 = []
type(list_2)

list

In [65]:
list_3 = tuple()
type (list_3)

tuple

In [70]:
list_3 + ("hello")

TypeError: can only concatenate tuple (not "str") to tuple

In [71]:
list_3 + ("hello", "you")

('hello', 'you')

In [72]:
list_2

[]

In [73]:
list_2.append("hello")

In [74]:
list_2

['hello']

In [75]:
list_2 + ("hello")

TypeError: can only concatenate list (not "str") to list

In [76]:
list_2 + ["hello"]

['hello', 'hello']

In [77]:
things = {'coat', 'lock', 'box', 'book', 'apple','hair', 'id card', 'book', 'coat', 'cat'}
things

{'apple', 'book', 'box', 'cat', 'coat', 'hair', 'id card', 'lock'}

In [78]:
len(things)

8

In [89]:
type(things)

set

In [82]:
things.sort()

AttributeError: 'set' object has no attribute 'sort'

In [83]:
type(things)

set

In [84]:
postal_codes = ["M2G", "M2G", "M1M", "M5G"]
len(postal_codes)

4

In [87]:
cleaned_postal_code = set(postal_codes)
cleaned_postal_code

{'M1M', 'M2G', 'M5G'}

In [88]:
len(cleaned_postal_code)

3

In [90]:
new_item = { }
type(new_item)

dict

In [91]:
new_item_2 = ( )
type(new_item_2)

tuple

In [92]:
new_item_3 = set( )
type(new_item_3)

set

In [97]:
york_region = {"newmarket",'aurora','eg','rh','markham'}
north_york_region = {'newmarket', 'aurora','eg'}
north_york_region

{'aurora', 'eg', 'newmarket'}

In [98]:
york_region.difference(north_york_region)

{'markham', 'rh'}

In [99]:
north_york_region.difference(york_region)

set()

In [118]:
capitals = {"Canada":"Ottawa", "Mexico":"Mexico City", "Canada":"Happy"}
type(capitals)

dict

In [119]:
capitals["Canada"]

'Happy'

In [120]:
capitals.get("China", "Beijing")

'Beijing'

In [121]:
capitals

{'Canada': 'Happy', 'Mexico': 'Mexico City'}

In [124]:
capitals.append{"China":"Beijing"}

SyntaxError: invalid syntax (3988402761.py, line 1)