In [6]:
lastname = "CHAN"
firstname = "Yat_Yan"
lastname

'CHAN'

In [7]:
lastname[1:]

'HAN'

"Wanted from" position 1 onwards (inclusive)

In [8]:
lastname[:1]

'C'

In [9]:
firstname[:3]

'Yat'

"Wanted upto" position 3 (excluded)

In [10]:
firstname[:-3]

'Yat_'

In [11]:
firstname[3:]

'_Yan'

In [12]:
firstname[-3:]

'Yan'

In [13]:
firstname[3:]

'_Yan'

In [14]:
firstname[0,4]

TypeError: string indices must be integers, not 'tuple'

In [ ]:
firstname[0]+firstname[4]

'YY'

In [ ]:
lastname[0:7]

'CHAN'

In [ ]:
firstname[0:7]

'Yat_Yan'

In [ ]:
firstname[0:7:4]

'YY'

In [ ]:
firstname[0:7:3] #str[start:end+1:step]

'Y_n'

In [ ]:
phone = "905-960-8684"

phone[4:7]

'960'

In [ ]:
phone[-8:]

'960-8684'

In [ ]:
phone[::-1]

'4868-069-509'

It reverses everything in phone
first empty+: refers to start from the end, we can give any numbers referring to desired position
second empty+: refers to from the start, we can give any numbers referring to the desired position too
-1 means in step of 1, but reverse

In [ ]:
phone[::-2]

'46-6-0'

In [ ]:
len(phone)

12

In [ ]:
sorted_phone_number = sorted(phone)
print(sorted_phone_number)

['-', '-', '0', '0', '4', '5', '6', '6', '8', '8', '9', '9']

In [ ]:
a_sentence = "I love science"
a_sentence.upper()

'I LOVE SCIENCE'

In [ ]:
a_sentence.lower()

'i love science'

.upper() and .lower(), they take nothing in the (), but we'll still need the () as it is a string method

In [ ]:
"This string is ununununinuhin".count("u")

5

In [ ]:
"Hello".endswith('o')

True

In [ ]:
"hello".endswith(".txt")

False

In [ ]:
"long file names with a lot of spaces then ha let's try".replace(" ", "**") # replace <<space>> with ** as indicated by me

"long**file**names**with**a**lot**of**spaces**then**ha**let's**try"

In [ ]:
firstname

NameError: name 'firstname' is not defined

In [15]:
firstname

'Yat_Yan'

In [16]:
lastname

'CHAN'

In [21]:
"My name is {} {}".format(lastname,firstname[:3]+ " " + firstname[-3:])

'My name is CHAN Yat Yan'

In this scenario, we can play with a lot of stuffs within the parameter with .format
but the lecturer prefers f-string better (so am I)

In [23]:
# First we should define a variable outsdie of the f-string

food = "pizza"
drink = "coca-cola"

f"My favourite meal is {food} and {drink}"

'My favourite meal is pizza and coca-cola'

In [ ]:
f"My favourite meal is {'sushi'} and {'water'}" 
#in this case, with ' ', I can change the content in {} be anything I want without changing the value stored in the variable

'My favourite meal is sushi and water'

In [30]:
age = input("How old are you?") 
#this input is a function which allows user to input new values into the system
#the value input is in form of string

In [32]:
age
int(age) #now I convert the value in age from str to number for further operations

35

In [ ]:
print("I'll be " + str(int(age)+1) + " next year") 
#Now we can play with the integer values and convert it to string for printing

I'll be 36 next year

In [37]:
def anagram_checker(word_a, word_b, is_case_sensitive):
  # Modify your existing code here
  if (sorted(word_a) == sorted(word_b))== is_case_sensitive:
    return True
  else: 
    return False
# Run your code to check using the words below:
anagram_checker("Silent", "listen", False) # True

True